@import "../../styles/variables";

.c-auth-form {
  max-width: 300px;
  width: 100%;
  &__title {
    margin-bottom: 30px;
  }
}
.e-auth-form__title {
  color: $c-dark-grey;
  text-align: center;
  margin-bottom: 10px;
  // line-height: 30px;
  font-weight: 700;
  font-size: 18px;
  max-width: 225px;
}
.c-form-authorization {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__text {
    color: $c-dark-grey;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
  }
  &__input {
    max-width: 200px;
    width: 100%;
    border-radius: 10px !important;
    border: none;
    margin-top: 10px;
    padding: 5px;
    color: $c-dark-grey;
  }
  // &__input:focus {
  //   border: 1px solid $c-dark-grey !important;
  // }
  &__btn {
    border-radius: 10px;
    padding: 4px 10px;
    border: none;
    background-color: $c-green;
    color: $c-dark-white;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    // margin-top: 10px;
  }
}
