// Colors
$c-dark-white: #f6f6f6;
$c-white: #e5e5e5;
$c-absolute-white: #ffff;
$c-green: #588535;
$c-light-green: rgba(88, 133, 53, 0.1);
$c-icon-green: #ecf1e7;
$c-grey: #777a73;
$c-dark-grey: #22271c;
// $c-ic: #82ccbc;

// Fonts
$f-base: "Poppins";

// Font-size
$fs-base: 24px;
$fs-sections-title: 40px;
$fs-banner-title: 100px;
$fs-paragraph: 16px;
