@import "../../styles/variables";
@media screen and (max-width: 1600px) {
  .c-header {
    margin: 50px 110px 110px 110px;
    &__wrapper {
      justify-content: space-between;
      display: flex;
    }
  }
}
@media screen and (max-width: 1300px) {
  .c-header {
    margin: 40px 90px 50px 90px;
    &__wrapper {
      justify-content: space-between;
      display: flex;
    }
  }
}
@media screen and(max-width:1210px) {
  .c-header {
    &__icons {
      display: none;
    }
  }
}
@media screen and(max-width:550px) {
  .c-header {
    margin: 40px 45px;
    // &__wrapper {
    //   justify-content: space-between;
    //   display: flex;
    // }
  }
}
